.tercera_seccion {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 240px; 
}

.contenedor_almacen_collages {
    display: -webkit-inline-box;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: white;
  }  

.cont_mural_almacen {
    width: 110px;
    display: block;
    border-style:none;
    padding: 5px;
}

.cont_mural_almacen_sel {
    width: 110px;
    display: block;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 5px;
}

.mural_collage {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}
.mural_oculto {
    display: none;
}

.contenedor_botones {
    width: 800px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 20px;
}
@media screen and (max-width: 768px) {
    .tercera_seccion {
        width: 600px;
        height: 169px;
    }
    .contenedor_botones {
        width: 600px;
        height: 80px;
        padding-right: 13px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .tercera_seccion {
        width: 750px;
    }
    .contenedor_botones {
        width: 750px;
        height: 50px;
        padding-right: 20px;
    }
}