/*Div quecontiene el almacen*/
.tercera_seccion {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 240px; 
    padding-top: 23px;
}

.contenedor_almacen {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 800px;
    height: 86px;
    background-color: white;
  } 

.contenedor_botones {
    width: 800px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 20px;
}


  /*    481px — 768px: iPads, Tablets.*/
  /* Third breakpoint */
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .tercera_seccion {
        width: 600px;
        height: 169px;
        padding-top: 7px;
    }
    .contenedor_almacen{
        width: 600px;
        height: 66px;
    }
    .contenedor_botones {
      width: 600px;
      height: 80px;
      padding-right: 13px;
    }
  }
/* 769px — 1024px: Small screens, laptops. */
/* Second breakpoint */
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .tercera_seccion {
        width: 750px;
        height: 213px;
        padding-top: 15px;
    }
    .contenedor_almacen{
        width: 750px;
        height: 67px;
    }  
    .contenedor_botones {
      width: 750px;
      height: 120px;
      padding-right: 20px;
    }
  }