/*Mosaico que transita en el horno*/
.mosaicotran {
  position: relative;
  z-index: 2;
  left: 110px;
  animation: animamosaico 5s;
}

/* Div que contiene la imagen de los huecos (transparencia) */
.divhuecos{
  position: absolute;
  width: 817px;
  height: 243px;
  left: -2px;
  top: 0;
  z-index: 2;
}
.huecos {
  position: absolute;
  width: 817px;
  height: 243px;
  left: -2px;
  top: 0;
  z-index: 2;
}
/*DIV que contiene las imagenes de la pared del horno apgado y encendido*/
.horno {
  position: relative; 
  left: 0; 
  top: 0;
  z-index: 1;
  width: 800px;
  height: 275px;
}

.ocultar {
  display: none;
}

/*Posicion del horno apagado y encendido*/
.cfimg {
  position: absolute;
  top: 0px;
  left: -2px;
  width: 814px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

/*Posicion del horno encendido*/
.cftop {
  position: absolute;
  top: 0px;
  left: -2px;
  width: 814px;
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 50;
  animation-duration: .1s;
  animation-direction: alternate; 
}

/*Animación de intercambiar imagenes del horno*/
@keyframes cf3FadeInOut {
      0% {opacity:1;}
      45% {opacity:1;}
      55% {opacity:0;}
      100% {opacity:0;}
}

/*Movimiento del mosaico de arriba a abajo y de izquierda a derecha*/
@keyframes animamosaico {
  0%   {left:100px; top:0px;}
  50%  {left:100px; top:100px;}
  100% {left:770px; top:100px;}
}



@media screen and (min-width: 481px) and (max-width: 768px) {
  .horno {
    width: 600px; 
    height: 202px;
  }

  .cfimg {
    width: 611px;
    height: 189px;
    top: -11px;
  }

  .cftop {
    width: 611px;
    height: 189px;
    top: -11px;  
  }

  .divhuecos{
    width: 600px; 
  }

  .huecos{
    width: 611px;
    height: 189px;
    top: -11px; 
    left: 0px;
  }

  @keyframes animamosaico {
    0%   {left:68px; top:0px;}
    50%  {left:68px; top:50px;}
    100% {left:550px; top:50px;}
  }
}

/* 769px — 1024px: Small screens, laptops. */
/* Second breakpoint */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .horno {
    width: 750px;
    height: 267px;
  }
  .cfimg {
    width: 763px;
    height: 237px; 
  }
  
  .cftop {
    width: 763px;
    height: 237px; 
  }
  .divhuecos{
    width: 750px;
  }
  .huecos{
    width: 763px;
    height: 237px;
    left: 0px;
  }
  @keyframes animamosaico {
    0%   {left:80px; top:0px;}
    50%  {left:80px; top:85px;}
    100% {left:650px; top:85px;}
  }
}

