.collages_y_toolbar{
    display: flex;
    flex-direction: row;
}
.toolbar {
    display: flex;
    flex-direction: column;
    background-color: #25557e;
    padding-top: 30px;
    border-radius: 0px 50px 50px 0px;
}

.selector {
    width: 40px;
    display: flex;
    align-self: center;
}
.cont_collage {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7c99b2; 
    height: 559px;
    width: 836px; 
}

@media screen and (max-width: 768px) {
    .collages_y_toolbar{
        flex-direction: column-reverse;
        height: 527px;
    }
    .cont_collage{
        width: 600px;
    }
    .toolbar {
        flex-direction: row;
        border-radius: 0px;
        height: 34px;
        padding-top: 0px;        
    }
    .selector {
        width: 35px;
        display: flex;
        align-self: center;
    }
}