.footer {
    background: rgb(33,56,100);
    background: -moz-linear-gradient(0deg, rgba(33,56,100,1) 0%, rgba(100,139,170,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(33,56,100,1) 0%, rgba(100,139,170,1) 100%);
    background: linear-gradient(0deg, rgba(33,56,100,1) 0%, rgba(100,139,170,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#213864",endColorstr="#648baa",GradientType=1);
  
  }