/*Div que contiene el tablero, botón de estampar y el contenedor del mosaico*/
.primera_seccion {
	display: flex;
    flex-direction: row;
    justify-content: stretch;
    width: 800px;
    height: 257px;
    padding-top: 65px;
}

/*Div que contiene el contenedor del canvas del mosaico que se está contruyendo*/
.cont_mosaico {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 244px;
    height: 207px;
}

/*Div que contiene el canvas del mosaico que se está construyendo */
.mosaico {
    display: flex;
    width: 83px;
    height:86px;
    
}

/*Div que contiene los botones de las figuras, variantes y colores*/
.tablero {
    display: flex;
    padding-top: 28px;
    padding-bottom: 29px;
    padding-left: 24px;
    flex-direction: column;
    justify-content: space-around;
    width: 551px;
    height:207px;
}

/*Div que  contiene el botón estampar*/
.div_estampar {
    height: 35px;
    padding-left: 76px;
    padding-top: 5px;
}
.btn_estampar {
	box-shadow: 0px 0px 0px 1px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:5px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.btn_estampar:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.btn_estampar:active {
	position:relative;
	top:1px;
}

/*Div que contiene el horno que se calienta */
.segunda_seccion {
    display: flex;
    width: 800px;
    height: 284px;
}

.deshacer {
    padding-top: 125px;
    padding-left: 9px;
    padding-right: 14px;
}


  /*    481px — 768px: iPads, Tablets.*/
  /* Second breakpoint */
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .primera_seccion {
        width: 600px;
        height: 193px;
        padding-top: 37px;
    }  
    .cont_mosaico {
        width: 205px;
        height: 169px;
    }
    .mosaico {
        width: 53px;
        height:56px;
    }
    .tablero {
        width: 463px;
        height: 169px;
        padding-top: 34px;
        padding-bottom: 25px;
        padding-left: 23px;
    }
    .div_estampar {
        height: 35px;
        padding-left: 50px;
    }
    .btn_estampar {
        font-size:8px;
	    padding:4px 12px;
    }
    .deshacer {
        padding-top: 99px;
        padding-left: 3px;
        padding-right: 0px;
        width: 69px;
    }
    .segunda_seccion {
        width: 600px;
        height: 202px;  
    } 
    
  }

/* 769px — 1024px: Small screens, laptops. */
/* First breakpoint */
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .primera_seccion {
        width: 750px;
        height: 244px;
        padding-top: 72px;
    }   
    .cont_mosaico {
        width: 202px;
        height: 171px;
    }
    .mosaico {
        width: 63px;
        height:66px;
    }    
    .tablero {
        width: 463px;
        height: 162px;
        padding-top: 18px;
        padding-bottom: 8px;
        padding-left: 28px;
    }
    .div_estampar {
        height: 26px;
        padding-left: 71px;
        padding-top: 0px;
    }
    .btn_estampar {
        font-size:8px;
        padding:6px 15px;
        text-decoration:none;
        text-shadow:0px 1px 0px #283966;
    }
    .deshacer {
        width: 10px;
        padding-top: 104px;
        padding-left: 9px;
    }
    .segunda_seccion {
        width: 750px;
        height: 267px;  

    } 
  }



