.canvas_mosaico {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.canvas_oculto {
    display: none;
}

.cont_mosaico {
    padding-left: 10px;
    padding-top: 7px;
    height: 78px;
    width: 78px;
    display: block;
}

  
    /*    481px — 768px: iPads, Tablets.*/
    /* Third breakpoint */
    @media screen and (min-width: 481px) and (max-width: 768px) {
        .cont_mosaico {
            padding-left: 3px;
            padding-top: 5px;
        }
    }
  
    /* 769px — 1024px: Small screens, laptops. */
  /* Second breakpoint */
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .cont_mosaico {
        padding-left: 5px;
        padding-top: 4px;
    }
  }
  
