.mural_y_toolbar{
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 576;
}
.toolbar {
    display: flex;
    flex-direction: column;
    background-color: #25557e;
    padding-top: 30px;
    border-radius: 0px 50px 50px 0px;
}
.cont_mural {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7c99b2; 
    width: 735px;
    height: 540px;
}

@media screen and (max-width: 768px) {
    .mural_y_toolbar{
        width: 600px;
    }
    .cont_mural {
        height: 527px;
    }
}


  /* 1025px — 1200px: Desktops, large screens. */
  /* First breakpoint */
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .mural_y_toolbar{
        width: 750px;
    }
    .cont_mural {
        height: 537px;
    }
  }