.nuevaInstruccion{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;
    width: 149px;
}

.tipoinstruccion{
    display: inline;
}

.tituloInstruccion {
    font-weight:bold;
}