.robot{
    border-style: solid;
    border-width: 1px;
    border-color: white;
    width: 36px;
    height: 36px;
    top: 83px;
    position: relative;
}

.color{
    color: white;
    font-size: 1.5rem;
}

