/*Fondo de la sala mosaicos*/
.mosaicos {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background-color: #7c99b2;
    background-image: url('./images/horno.svg');
    background-repeat: no-repeat;
    background-position: left;  
    padding-left: 0px;
    padding: 0px; 
    width: 800px;
    height: 800px;
}

.murales {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background-color: #7c99b2;
    background-repeat: no-repeat;
    background-position: left;  
    padding-left: 0px;
    padding: 0px; 
    width: 800px;
    height: 770px;
}

.collages {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background-color: #7c99b2;
  width: 800px;
  height: 730px;
}

.programacion {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: stretch;
  background-color: #7c99b2;
  background-repeat: no-repeat;
  background-position: left;  
  padding-left: 0px;
  padding: 0px; 
  width: 800px;
  height: 735px;
}

/*    481px — 768px: iPads, Tablets.*/
/* Third breakpoint */
@media screen and (max-width: 768px) {
  .mosaicos {
    width: 600px;
    height: 600px;
  }
  .murales {
    width: 600px;
    height: 670px;;
  }
  .collages {
    width: 600px;
    height: 680px;
  }
  .programacion {
    width: 650px;
    height: 710px;
  }
}

/* 769px — 1024px: Small screens, laptops. */
/* Second breakpoint */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .mosaicos {
    width: 750px;
    height: 750px;
  }
  .murales {
    width: 750px;
    height: 750px;
  }
  .collages {
    width: 750px;
    height: 750px;
  }
  .programacion {
    width: 750px;
    height: 750px;
  }
}