/*Fondo de la sala mosaicos*/
.mosaicos {
    display: flex;
    flex-direction: column;
  	justify-content: stretch;
    background-image: url('./images/horno.svg');
    background-repeat: no-repeat;
    background-position: center top;  
    padding-left: 0px;
    padding: 0px; 
}

.murales {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background-color: #7c99b2;
}

.collages {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background-color: #7c99b2;
}

.programacion {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background-color: #7c99b2;
}

/*320px — 480px: Mobile devices. */
/* fourth breakpoint */
@media screen and (max-width: 480px) {
    .mosaicos {
        width: 300px;
    	height: 270px;
    }
  }

  /*    481px — 768px: iPads, Tablets.*/
  /* Third breakpoint */
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .mosaicos {
        width: 400px;
    	height: 358px;
    }
  }
/* 769px — 1024px: Small screens, laptops. */
/* Second breakpoint */
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .mosaicos {
      width: 690px;
    	height: 305px;
    }    
  }

  /* 1025px — 1200px: Desktops, large screens. */
  /* First breakpoint */
  @media screen and (min-width: 1025px)  {
    .mosaicos {
      width: 900px;
    	height: 805px;
    }
    .murales {
      width: 900px;
    	height: 305px;
    } 
  }
  /* 1201px and more — Extra large screens, TV. */