.menu_izq  {
    display: inline-flex;
    flex-direction: column;
    /*border: 3px solid black; */
    padding: 1rem;
    background-color: rgb(206, 215, 222);
    flex: 0 0 30px;
    justify-content: top;
  }

  .btnSalas {
    position:relative;
    border:none;
    flex-basis: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(206, 215, 222);
  }

  .txtBtnSala {
    position:absolute;
    top:24px;
    left:60px;
    cursor:pointer;
  }


  @media screen and (max-width: 768px) {
    .menu_izq  {
      display: none;
    }
  }
  
  /* 769px — 1024px: Small screens, laptops. */
  /* Second breakpoint */
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .menu_izq  {
      padding-left: 0px;
    }
    .btnSalas {
      padding-left: 0px;
      padding-top: 5px;
      padding-bottom: 0px;
    }
    .txtBtnSala {
      top:19px;
      left:50px;
    }
  }
  